In [8]:
import pandas as pd
import numpy as np

df = pd.read_csv("C:/Users/Home/OneDrive/Рабочий стол/WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [9]:
df['gender'].value_counts(normalize = True)*100

Male      50.47565
Female    49.52435
Name: gender, dtype: float64

2. Какое количество уникальных значений у поля InternetService?

In [10]:
df['InternetService'].nunique()

3

3. Выведите статистики по полю TotalCharges (median, mean, std).

In [12]:
df['TotalCharges'].describe()

count     7043
unique    6531
top       20.2
freq        11
Name: TotalCharges, dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [14]:
#float
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = 0
df['TotalCharges'] = df['TotalCharges'].astype('float')
df['TotalCharges'].describe()

count    7043.000000
mean     2279.734304
std      2266.794470
min         0.000000
25%       398.550000
50%      1394.550000
75%      3786.600000
max      8684.800000
Name: TotalCharges, dtype: float64

4. Сделайте замену значений поля PhoneService на числовые (Yes->1, No->0)

In [16]:
df['PhoneService'].unique()

array(['No', 'Yes'], dtype=object)

In [17]:
#замена слов на цифры
df['PhoneService'].replace({'Yes':1, 'No': 0}, inplace=True)
df['PhoneService'].unique()

array([0, 1], dtype=int64)

5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [18]:
df.loc[df['TotalCharges'] == ' ', 'TotalCharges'] = np.nan
df['TotalCharges'].fillna(0, inplace=True)
#пропуски
df['TotalCharges'].isna().sum()

0

In [19]:
df['TotalCharges'].describe()

count    7043.000000
mean     2279.734304
std      2266.794470
min         0.000000
25%       398.550000
50%      1394.550000
75%      3786.600000
max      8684.800000
Name: TotalCharges, dtype: float64

6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [20]:
df['Churn'].unique()

array(['No', 'Yes'], dtype=object)

In [21]:
df['Churn'].replace({'Yes':1, 'No': 0}, inplace=True)
df['Churn'].unique()

array([0, 1], dtype=int64)

7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport на числовые (Yes -> 1, No -> 0, No internet service->0)

In [22]:
def unique_in_features(features):
    for f in features:
        print(f'Уникальные значения', f, ':', df[f].unique())

In [23]:
features = ['StreamingMovies', 'StreamingTV', 'TechSupport']

unique_in_features(features)

Уникальные значения StreamingMovies : ['No' 'Yes' 'No internet service']
Уникальные значения StreamingTV : ['No' 'Yes' 'No internet service']
Уникальные значения TechSupport : ['No' 'Yes' 'No internet service']

In [24]:
for f in features:
    df[f].replace({'Yes': 1, 'No': 0, 'No internet service': 0}, inplace=True)

In [25]:
unique_in_features(features)

Уникальные значения StreamingMovies : [0 1]
Уникальные значения StreamingTV : [0 1]
Уникальные значения TechSupport : [0 1]

8. Заполните пропуски в поле PhoneService значением 0

In [26]:
df['PhoneService'].isnull().sum()

0

8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [27]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']

#создадим новый датасет 
df_clone = df[columns]
df_clone.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.85,0,0,0,0
1,Male,34,1,1889.50,0,0,0,0
2,Male,2,1,108.15,0,0,0,1

9. Разделите датасет на тренировочную и тестовую выборку.

In [28]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'

#разделим в пропорции 70/30

X_train, X_valid, y_train, y_valid = train_test_split(df[features], df[target], test_size = 0.3, random_state = 1)

In [29]:
y_train.head(3)

5925    0
4395    1
1579    1
Name: Churn, dtype: int64

10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [31]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

# 'key' меняем на 'column'

class ColumnSelector(BaseEstimator, TransformerMixin): #выбор признака из датафрейма для дальнейших преобразований
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.column]
    
class NumberSelector(BaseEstimator, TransformerMixin): #для числовых признаков
    def __init__(self, column):
        self.column = column

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.column]]
    
class OHEEncoder(BaseEstimator, TransformerMixin): #преобразование категориальных признаков в дамми
    def __init__(self, column):
        self.column = column
        self.columns = []
    
    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.column).columns]
        return self
    
    #список из новых колонок 
    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.column)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns] #возвращается датасет с новыми признаками

gender = Pipeline([
                ('selector', ColumnSelector(column='gender')),
                ('ohe', OHEEncoder(column='gender'))
            ])

11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [32]:
gender.fit_transform(X_train)

      gender_Female  gender_Male
5925              0            1
4395              1            0
1579              0            1
1040              0            1
1074              0            1
...             ...          ...
905               0            1
5192              0            1
3980              0            1
235               0            1
5157              1            0

[4930 rows x 2 columns]

12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [33]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(column='tenure')),
                ('standard', StandardScaler())
            ])

13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [34]:
TotalCharges =  Pipeline([
                ('selector', NumberSelector(column='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [35]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(column=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [36]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:

написали преобразователь поля gender, который делает OHE кодирование
написали преобразователь для поля tenure, который нормирует и центрирует его
повторили п. 2 для поля TotalCharges
для всех остальных просто взяли признаки как они есть, без изменений
У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [37]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(column='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(column='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(column=['PhoneService',
                                                                                         'StreamingMovies',
                                                                                         'StreamingTV',
                                                                                         'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(column='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(column='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [39]:
prediction = pipeline.predict_proba(X_valid)
prediction.shape

(2113, 2)

15. Посчитайте метрики качества получившейся модели (roc_auc)

In [40]:
from sklearn.metrics import roc_auc_score, log_loss

roc_square = roc_auc_score(y_valid, prediction[:,1])
print('Метрика roc_auc: ', roc_square) #должен стремиться к 1

Метрика roc_auc:  0.7805575470796291

In [41]:
logloss = log_loss(y_valid, prediction[:,1])
print('Метрика logloss: ', logloss)

Метрика logloss:  0.7327180747816532

Сохраним наш пайплайн

In [42]:
!pip install dill

Collecting dill
  Downloading dill-0.3.5.1-py2.py3-none-any.whl (95 kB)
Installing collected packages: dill
Successfully installed dill-0.3.5.1

In [43]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)